body {
  background-color: black;
}
.element {
  text-align: center;
  margin: 0;
  padding: 0;
  transform: translateY(100px);
}
.auto {
  text-align: center;
  margin: 0;
  padding: 0;
  transform: translateY(100px);
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.text {
  text-align: center;
  color: #D3D3D3;
  transform: translateY(10px);
}
.lugar {
  text-align: center;
  color: red;
  text-decoration: underline;
}
a {
  color: red;
}